{% extends "base.html" %}

{% block head %}
<title>SAP - Login</title>
{% endblock %}

{% block body %}
<h1>Login</h1>
<form method="POST" action="{{ url_for('login') }}">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div style="display:none">
        <label for="hidden-field">Field:</label>
        <input type="text" id="hidden-field" name="hidden-field">
    </div>
    <button type="submit">Login</button>
</form>
<div>
    Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.
</div>
{% endblock %}