{% extends "base.html" %}

{% block head %}
<title>SAP - Search</title>
{% endblock %}

{% block body %}
<h1>Search Results for: {{ query }}</h1>

<form action="{{ url_for('search') }}" method="GET">
    <input type="search" name="q" placeholder="Search" value="{{ query }}">
    <button type="submit">Search</button>
</form>

<ul>
    {% for result in results %}
        <li>
            <strong>Website:</strong> {{ result.website }}<br>
            <strong>Username:</strong> {{ result.username }}<br>
            <strong>Password:</strong> {{ result.password }}<br>
        </li>
    {% endfor %}
</ul>

{% endblock %}
